@import '@helpers/vars.scss';

.day {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &.past {
        filter: grayscale(75%);
    }

    .titleBlock {
        align-self: center;
        border-radius: 100%;
        display: inline-block;
        height: 1.8rem;
        margin: 4px;
        width: 1.8rem;
    }
}

.event {
    border-radius: 4px;
    padding: 0 16px;
    margin: 2px 8px;

    & > * {
        display: inline-block;
    }

    .shortDesc {
        align-items: center;
        display: inline-flex;
        margin-left: -14px;
        margin-right: 8px;

        .dot {
            border-radius: 100%;
            height: 8px;
            width: 8px;
            margin-right: 4px;
        }
    }
}
