:root {
    --xmer-primary-color: #10b6c3;
    --xmer-add-menu-size: 400px;
}

$fontSizeMultiplier: 3;
$fontSizeDivder: 2;
$animationDuration: 0.3s;

@mixin create-animation($animationName) {
    animation-timing-function: ease;
    animation-duration: $animationDuration;
    animation-name: $animationName;
}

@mixin no-touch {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.addMenu {
    @include no-touch;
    align-items: center;
    background-color: var(--xmer-primary-color);
    border-radius: 20%;
    color: white;
    display: flex;
    height: var(--xmer-add-menu-size);
    justify-content: center;
    line-height: var(--xmer-add-menu-size);
    overflow: hidden;
    text-align: center;
    width: var(--xmer-add-menu-size);

    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(45deg);
        }
    }

    @keyframes noRotation {
        from {
            transform: rotate(45deg);
        }

        to {
            transform: rotate(0deg);
        }
    }

    @keyframes expandText {
        from {
            font-size: var(--xmer-add-menu-size);
        }

        10% {
            font-size: calc(var(--xmer-add-menu-size) / $fontSizeDivder);
        }

        to {
            font-size: calc(var(--xmer-add-menu-size) * $fontSizeMultiplier);
        }
    }

    @keyframes noExpandText {
        from {
            font-size: calc(var(--xmer-add-menu-size) * $fontSizeMultiplier);
        }

        70% {
            font-size: calc(var(--xmer-add-menu-size) / $fontSizeDivder);
        }

        to {
            font-size: var(--xmer-add-menu-size);
        }
    }

    &.rotated {
        @include create-animation(rotate);
        transform: rotate(45deg);
    }

    &:not(.rotated) {
        @include create-animation(noRotation);
    }

    > .plusSign {
        font-size: var(--xmer-add-menu-size);
        font-weight: bold;

        &.expanded {
            font-size: calc(var(--xmer-add-menu-size) * $fontSizeMultiplier);
            @include create-animation(expandText);
        }

        &:not(.expanded) {
            @include create-animation(noExpandText);
        }
    }
}

.loading {
    animation: none;
    animation-duration: 0s !important;
}
